*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    body {
        background: #222;
        color:aliceblue;
        font-family: 'Kdam Thmor Pro', sans-serif;

    }

    a{
        color:#44d62c;
        text-decoration: #44d62c;
    }

    ul {
        list-style: none;
    }

    .container{
        width: 90%;
        margin: auto;
    }

    .nav-main {
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 20px 0;
    }

    .nav-brand {
        width: 50px;
    }


    .nav-main ul{
        display: flex;
    }
    .nav-main ul li{
        padding: 10px;
    }

    .nav-main ul li a {

    }
    .nav-main ul li a:hover {
        color: #44d62c;
        border-bottom: 2px solid #44d62c;
    }

    .nav-main ul.nav-menu {
        flex: 1;
        margin-left: 20px;
    }


    /* SHOCASE */



